.image {
    margin-top: 100px;
}

.card {
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    border: 0 !important;
    border-radius: 1rem !important;
}